<ul class="visible-links">

  <!-- ✅ 로고 (딱 1번만) -->
  <li class="masthead__menu-item masthead__menu-item--lg persist">
    <a href="{{ base_path }}/">
      <img src="/images/logo.png" style="height:40px; vertical-align:middle;">
    </a>
  </li>

  <!-- ✅ 기존 메뉴 -->
  {% for link in site.data.navigation.main %}
    {% if link.url contains 'http' %}
      {% assign domain = '' %}
    {% else %}
      {% assign domain = base_path %}
    {% endif %}
    <li class="masthead__menu-item {% if page.url contains link.url and link.url != '/' %}selected{% endif %}">
      <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}

  <!-- 다크모드 버튼 -->
  <li id="theme-toggle" class="masthead__menu-item persist tail">
    <a role="button"><i class="fa-solid fa-sun"></i></a>
  </li>

</ul>
